body {
    font-family: Arial, sans-serif;
    text-align: center;
}
#photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.photo {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
}

/* make the .full-photo a centerd div floating over other content */
.full-photo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    background-size: cover;
    background-position: center;
    border-radius: 60px;
    border-style: solid;
    border-width: 6px;
}